



.tit {

    display: flex;
    justify-content: center;

}

.photo {
display: flex;
justify-content: center;



}

.disript {
    display: flex;
    
    justify-content: center;



}


.lil {
    display: flex;
    justify-content: center;
}

.ingrid {
    display: flex;
    justify-content: center;
}

.ingri {
    display: flex;
    justify-content: center;

}